body{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: #1D2630;
    background-color: #b9deda;
}

ul {
    background: #1D2630;
    padding: 15px;
    table-layout: fixed;
    width: 75%;
    font-size: 12px;
}

ul li{
    background: #D7F4FC;
    padding: 10px;
    margin: 5px;
    display: table-cell;
    word-wrap: break-word;
}

.top-head-bar{
    height: 13%;
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin: auto;
    background-color: #93ba76;
    border-bottom-style: inset;
    border-bottom-color: #7ea263;
    border-bottom-width: medium;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    letter-spacing: 2px;
    line-height: .5;
}

.top-nav-bar{
    height: 9%;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 13%;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9dc84;
    border-bottom-style: inset;
    border-bottom-color: #e6cb7d;
    border-bottom-width: medium;
    overflow: visible;
    padding-top: 3px;
}

.main-body{
    height: 100%;
    top: 10%;
    left: 0;
    display: inline;
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: 5%;
    margin-right: 5%;
    background-color: inherit;
    overflow: auto;
}

.middle{
    height: 100%;
    width: 82%;
    z-index: 3;
    position: absolute;
    left: 9%;
    overflow: hidden;
}
.about-me{
    top: 0%;
    height: 100%;
    z-index: 3;
    width: 9%;
    left: 0%;
    margin: 0;
    padding: 0;
    background-color: #93ba76;
    border-right-style: inset;
    border-right-color: #7ea263;
    border-right-width: medium;
    color: #1D2630;
    overflow: hidden;
    float: left;
}

.right-banner{
    position: relative;
    top: 0%;
    height: 100%;
    z-index: 2;
    width: 9%;
    right: 0%;
    margin: 0;
    padding: 0;
    background-color: #93ba76;
    border-left-style: outset;
    border-left-color: #7ea263;
    border-left-width: medium;
    overflow: hidden;
    float: right;
}

a.one:link, a.one:visited, a.one:active{
    height: 6%;
    display: block;
    width: 200px;
    top: 5px;
    left: 1%;
    right: 1%;
    z-index: 4;
    margin-left: auto;
    background-color: #93ba76;
    text-decoration-line: none;
    color: #1D2630;
    border-style: solid;
    border-color: #7ea263;
    border-width: 2px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 15px;
    text-align: center;
    font-weight: bold;

}
a.one:hover{
    background-color: #B8DEDA;
    text-decoration-line: none;
    border-color: #D7F4FC;
}

#rectangle {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #7ea263;
}